// ModalLogin.scss
@use '../../styles/variables' as v;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #371b4b;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  height: 500px;
}

.right-element {
  text-align: right;
}

.tabs-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabs-title button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: v.$color;
  font-size: v.$font-size-title;
}

.tabs-title button.active {
  border-bottom: 2px solid white;
}

.center-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.center-element label {
  color: v.$color;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: v.$font-size-cummun;
}

.center-element input {
  padding: 5px;
  margin-bottom: 20px;
}

.modal .valid-button {
  padding: 10px;
  text-align: center;
  background-color: v.$color-button;
  border-radius: 5px;
  color: v.$color;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  // margin-left: auto;
  // margin-right: auto;
}
