// HomePage.scss
@use '../../styles/variables' as v;

.homepage-information-center {
  color: v.$color;
  font-family: v.$font-family;
  font-size: v.$font-size-cummun;
  display: flex;
  width: 100%;
  height: 84vh;
  flex-direction: row;
}

.side-left-homepage,
.side-right-homepage {
  flex-basis: 50%;
}

.side-left-homepage {
  padding-left: 6rem;
  margin-top: 8rem;
}
.slogan {
  // color: #86a4ef;
  font-size: v.$font-size-title;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  background: linear-gradient(
    to right,
    #2c70ca,
    #ec31e3
  ); /* Dégradé de rouge à bleu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}
.description p {
  color: v.$color;
  font-size: v.$font-size-cummun;
  font-weight: 300;
  letter-spacing: 0.16rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1.25rem;
  width: 89%;
}

.side-right-homepage {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 1215px) {
  .homepage-information-center {
    flex-direction: column;
  }
  .side-left-homepage {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
