// HomePage.scss
@use '../../styles/variables' as v;

.homepage-information-center {
  color: v.$color;
  font-family: v.$font-family;
  font-size: v.$font-size-cummun;
  display: flex;
  width: 100vw;
  height: 85vh;
  align-items: center;
  flex-direction: row;
}

.side-left-homepage,
.side-right-homepage {
  flex-basis: 50%;
}

.side-left-homepage {
  padding-left: 9rem;
}
.slogan {
  color: #86a4ef;
  font-size: v.$font-size-title;
  font-weight: 800;
  letter-spacing: 0.2rem;
  margin-bottom: 0.6rem;
}
.description p {
  color: v.$color;
  font-size: v.$font-size-cummun;
  font-weight: 300;
  letter-spacing: 0.16rem;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1.25rem;
}
.side-left-homepage button {
  border-radius: 3.125rem;
  color: v.$color;
  cursor: pointer;
  background-color: v.$color-button;
  padding: 0.3rem 0.6rem;
  border: solid 1px black;
}
.side-left-homepage button:hover {
  background-color: v.$hover-button;
  color: v.$hover-text-color-button;
}

.side-right-homepage {
  
}

.side-right-homepage img {
  margin: auto;
  padding-right: 2rem;
  width: 100%;
}

@media screen and (max-width: 1215px) {
  .homepage-information-center {
    flex-direction: column;
  }
  .side-left-homepage {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
