// police de texte
$font-family: 'inter', sans-serif;

// Definition des couleurs
$color: white; // text en blanc
$green-price-color: #69EF3C;
$red-price-color: #EF3A3A;
$color-button: #9747ff; // couleur du bouton
$hover-button: white; // survol du bouton en blanc
$hover-text-color-button: black; // survol du bouton la police devient blanc
$hover-text-underline: white; // survol du bouton le texte a un soulignement de couleur blanc

// Degrader fond d'ecran
$background-color: linear-gradient(70deg, #141314 1%, #371b4b 100%);

// Taille de la police
$font-size-cummun: 1rem; // taille ecriture commune
$font-size-title: 2.25rem; // taille titre important
