// police de texte
$font-family: 'inter', sans-serif;

// Definition des couleurs
$color: white; // text en blanc
$color-button: #9747ff; // couleur du bouton
$hover-button: white; // survol du bouton en blanc
$hover-text-color-button: black; // survol du bouton la police devient blanc
$hover-text-underline: white; // survol du bouton le texte a un soulignement de couleur blanc

// Degrader fond d'ecran
$background-color: linear-gradient(70deg, #141314 1%, #371b4b 100%);

// Taille de la police
$font-size-cummun: 16px; // taille ecriture commune
$font-size-title: 36px; // taille titre important
